        @use '../custom' as *;
        @use 'base/mixins' as m;
        .banner__aventuras {
            width: 100%;
            height: 135rem;
            @include media-breakpoint-up(md) {
                height: 78rem;
            }
            @include media-breakpoint-up(lg) {
                height: 45rem;
            }
            background-image: url(../img/Valle.jpg);
            background-size: cover;
            background-position: bottom center;
            position: relative;
            .aventura {
                @include m.efecto;
            }
        }
        
        .degradado__banner {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgb(255, 255, 255);
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.9023984593837535) 10%, rgba(172, 172, 172, 0.8603816526610644) 46%, rgba(0, 0, 0, 0.8155637254901961) 82%);
            .imagen_aventura1 {
                @include m.imagenFondo('../img/Cabañas.jpg')
            }
            .imagen_aventura2 {
                @include m.imagenFondo('../img/Glamping.jpg')
            }
            .imagen_aventura3 {
                @include m.imagenFondo('../img/bungalows.jpg')
            }
            .aventura__btn {
                a {
                    font-size: 1.4rem;
                }
                @include m.efecto;
            }
        }
        
        .info_aventura {
            position: absolute;
            margin-bottom: -1rem;
            margin-left: 1rem;
            padding: 0.5rem;
            bottom: 0;
            left: 6.5rem;
            @include media-breakpoint-up(sm) {
                bottom: -1rem;
                left: 17.5rem;
            }
            @include media-breakpoint-up(lg) {
                bottom: -1.2rem;
                left: 7.5rem;
            }
            p {
                &:nth-child(1) {
                    font-size: 1rem;
                }
                &:nth-child(2) {
                    font-size: 1.4rem;
                }
            }
        }