@use '../custom' as *;
.formulario {
    background-color: #F9F7F7;
    border-radius: 1rem;
    -webkit-box-shadow: -4px 14px 32px -18px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: -4px 14px 32px -18px rgba(0, 0, 0, 0.77);
    box-shadow: -4px 14px 32px -18px rgba(0, 0, 0, 0.77);
    .ciudad {
        padding: .5rem .5rem .5rem 0;
    }
    select {
        appearance: none;
        font-size: 1.4rem;
        outline: none;
        padding-bottom: .5rem;
    }
    p {
        font-size: 1.2rem;
    }
}