@use '../custom' as *;
@use 'base/mixins' as m;
.formulario {
    background-color: #F9F7F7;
    border-radius: 1rem;
    -webkit-box-shadow: -4px 14px 32px -18px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: -4px 14px 32px -18px rgba(0, 0, 0, 0.77);
    box-shadow: -4px 14px 32px -18px rgba(0, 0, 0, 0.77);
    select,
    input {
        font-size: .8rem;
        padding: 2rem 0;
        @include media-breakpoint-up(sm) {
            font-size: 1.2rem;
        }
    }
    input::placeholder {
        color: $primary;
        font-weight: normal;
        font-size: 1rem;
    }
    .ciudad,
    .fecha {
        padding: .5rem .5rem .5rem 0;
    }
    select {
        appearance: none;
        font-size: 1.4rem;
        outline: none;
        padding-bottom: .5rem;
    }
    p {
        font-size: 1.2rem;
    }
    .btn-enviar {
        padding: .8rem 0;
        @include m.efecto;
    }
}

.fs-7 {
    font-size: 1.5rem;
}