@use '../custom' as *;
.icono {
    @include media-breakpoint-up(md) {
        margin-right: 35rem;
    }
}

.navegacion {
    a {
        color: $primary;
        font-size: 1.6rem;
        font-weight: 500;
    }
    .seleccionado {
        color: $secondary;
    }
}