@use '../custom' as *;
.header {
    @include media-breakpoint-up(lg) {
        &.fijo {
            top: 0;
            left: 0;
            position: fixed;
            width: 100%;
            box-shadow: 0 4px 2px -2px gray;
            z-index: 5;
            background-color: white;
        }
    }
}

.header2 {
    @include media-breakpoint-up(lg) {
        &.fijo2 {
            top: 0;
            left: 0;
            position: fixed;
            width: 100%;
            box-shadow: 0 4px 2px -2px gray;
            z-index: 5;
            background-color: $primary;
        }
    }
}

.icono {
    @include media-breakpoint-up(md) {
        margin-right: 35rem;
    }
}

.navegacion {
    a {
        color: $primary;
        font-size: 1.6rem;
        font-weight: 500;
        &:hover {
            color: $secondary;
        }
    }
    .seleccionado {
        color: $secondary;
    }
}