@use '../custom' as *;
.recodia {
    .puntuacion {
        i {
            font-size: 1.8rem;
        }
    }
    p {
        &:nth-child(4) {
            font-size: 1.6rem;
        }
    }
    li {
        h3 {
            font-size: 1.7rem;
        }
        p {
            font-size: 1.4rem;
        }
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: 5rem;
            height: 5rem;
            display: block;
            background-image: url(../img/Check.svg);
            background-repeat: no-repeat;
            background-position: center center;
            left: -4.2rem;
            top: -1rem;
        }
    }
}