<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinos | Mi Viaje.com</title>
    <link rel="shortcut icon" href="build/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!--  <link rel="stylesheet" href="styles/style.css"> -->
    <link rel="stylesheet" href="build/css/app.css">
</head>

<body>
    <header class="p-0 bg-primary">
        <div class="header2 navbar navbar-expand-lg navbar-dark">
            <div class="icono ms-3">
                <a class="nombre-sitio navbar-brand ms-1 ms-md-0" href="index.html">
                    <img id="logo" src="build/img/LogoBlanco.svg" alt="logoInicio" class="ms-1">
                </a>
            </div>

            <button class="navbar-toggler me-1 " type="button" data-bs-toggle="collapse" data-bs-target="#navegacion">
                <span class="navbar-toggler-icon text-white"></span>
            </button>

            <div id="navegacion" class="collapse navbar-collapse">
                <nav class="navbar-nav container d-flex flex-lg-row justify-content-md-between text-center navegacion">
                    <a class=" text-decoration-none text-white " href=" index.html ">Home</a>
                    <a class=" text-decoration-none seleccionado " href="destinos.html ">Destinos</a>
                    <a class=" text-decoration-none text-white " href="404.html ">MiReserva</a>
                    <a class=" text-decoration-none me-lg-3 text-white " href="contacto.html ">Contactenos</a>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="bandera__scroll container-md mb-4">
        <h5 class="text-primary text-center mt-3">SELECCIONA UNO DE NUESTROS DESTINOS</h4>
            <div class="destinos row g-3">
                <a href="form-reserva.html" class=" col-md-4 col-sm-6 p-2 bg-light rounded-5 text-decoration-none">
                    <div class="destino__imagen">
                        <img src="build/img/bogota.jpg" alt="Imagen destino" class="img-fluid rounded-5">
                        <div class="contenido">
                            <p class="fs-6 text-primary fw-bold">Bogotá</p>
                            <p class="fs-7 text-primary">3 Hoteles con Desayuno Incluido Noche desde $50.000</p>
                        </div>
                    </div>
                </a>

                <a href="form-reserva.html" class=" col-md-4 col-sm-6 p-2  rounded-5 text-decoration-none">
                    <div class="destino__imagen">
                        <img src="build/img/SanAndres.jpg" alt="Imagen destino" class="img-fluid rounded-5">
                        <div class="contenido">
                            <p class="fs-6 text-primary fw-bold">San Andres</p>
                            <p class="fs-7 text-primary"> 5 Hoteles con Piscina Noche desde $65.000</p>
                        </div>
                    </div>
                </a>

                <a href="form-reserva.html" class=" col-md-4 col-sm-6 p-2 bg-light rounded-5 text-decoration-none">
                    <div class="destino__imagen">
                        <img src="build/img/Barichara.jpg" alt="Imagen destino" class="img-fluid rounded-5 w-75">
                        <div class="contenido">
                            <p class="fs-6 text-primary fw-bold">Barichara</p>
                            <p class="fs-7 text-primary">4 Hoteles con Piscina Noche desde $200.000</p>
                        </div>
                    </div>
                </a>

                <a href="form-reserva.html" class=" col-md-4 col-sm-6 p-2  rounded-5 text-decoration-none">
                    <div class="destino__imagen">
                        <img src="build/img/Cartagena.png" alt="Imagen destino" class="img-fluid rounded-5">
                        <div class="contenido">
                            <p class="fs-6 text-primary fw-bold">Cartagena</p>
                            <p class="fs-7 text-primary">3 Hoteles Todo Incluido Noche desde $245.000</p>
                        </div>
                    </div>
                </a>

                <a href="form-reserva.html" class=" col-md-4 col-sm-6 p-2 bg-light rounded-5 text-decoration-none">
                    <div class="destino__imagen">
                        <img src="build/img/Cali.png" alt="Imagen destino" class="img-fluid rounded-5">
                        <div class="contenido">
                            <p class="fs-6 text-primary fw-bold">Cali</p>
                            <p class="fs-7 text-primary">5 Hoteles con Desayuno Incluido Noche desde $35.000</p>
                        </div>
                    </div>
                </a>

                <a href="form-reserva.html" class=" col-md-4 col-sm-6 p-2  rounded-5 text-decoration-none">
                    <div class="destino__imagen">
                        <div class="w-75">
                            <img src="build/img/Leticia.jpg" alt="Imagen destino" class="img-fluid rounded-5">
                        </div>
                        <div class="contenido ">
                            <p class="fs-6 text-primary fw-bold ">Leticia</p>
                            <p class="fs-7 text-primary ">3 Bungalows con Desayuno Incluido Noche desde $120.000</p>
                        </div>
                    </div>
                </a>

                <a href="# " class=" col-md-4 col-sm-6 p-2 bg-light rounded-5 text-decoration-none ">
                    <div class="destino__imagen ">
                        <img src="build/img/medellin.jpg " alt="Imagen destino " class="img-fluid rounded-5 ">
                        <div class="contenido ">
                            <p class="fs-6 text-primary fw-bold ">Medellín</p>
                            <p class="fs-7 text-primary ">5 Hoteles con Desayuno Incluido Noche desde $40.000</p>
                        </div>
                    </div>
                </a>

                <a href="# " class=" col-md-4 col-sm-6 p-2  rounded-5 text-decoration-none ">
                    <div class="destino__imagen ">
                        <img src="build/img/Santa Marta.jpeg " alt="Imagen destino " class="img-fluid rounded-5 ">
                        <div class="contenido ">
                            <p class="fs-6 text-primary fw-bold ">Santa Marta</p>
                            <p class="fs-7 text-primary ">5 Hoteles con Vista al Mar Noche desde $165.000</p>
                        </div>
                    </div>
                </a>

                <a href="# " class=" col-md-4 col-sm-6 p-2 bg-light rounded-5 text-decoration-none ">
                    <div class="destino__imagen ">
                        <img src="build/img/Valle.jpg" alt="Imagen destino " class="img-fluid rounded-5 ">
                        <div class="contenido ">
                            <p class="fs-6 text-primary fw-bold ">Valle de Cauca</p>
                            <p class="fs-7 text-primary ">5 Hoteles con Vista al Mar Noche desde $165.000</p>
                        </div>
                    </div>
                </a>

            </div>
    </main>

    <section class="banner__aventuras ">
        <div class="degradado__banner row mx-0 ">
            <div class="aventura col-md-6 col-lg d-flex flex-column justify-content-center align-items-center align-items-md-end ">
                <p class="m-0 text-primary text-uppercase fw-bold ">Explorar nuevas</p>
                <p class="m-0 text-secondary text-uppercase fw-bold fs-3 mt-n1 ">Aventuras</p>
                <div class="aventura__btn ">
                    <a href="destinos.html " class="btn btn-secondary text-white d-inline-md-block m-0 p-1 text-uppercase fw-bold ">prueba algo nuevo</a>
                </div>
            </div>

            <div class="aventura col-md-6 col-lg d-flex flex-column my-auto mt-lg-4 ">
                <a href="destinos.html " class="position-relative ">
                    <div class=" imagen_aventura1 rounded-5 mx-auto w-xl-50 "> </div>
                    <div class="bg-primary rounded-4 text-white info_aventura d-inline-block ">
                        <p class="text-uppercase m-0 text-center ">cabañas/san andres</p>
                        <p class="text-uppercase m-0 text-center fw-bold ">Desde 250.000</p>
                    </div>
                </a>
            </div>

            <div class="aventura col-md-6 col-lg d-flex flex-column my-auto ">
                <a href="destinos.html " class="position-relative ">
                    <div class="imagen_aventura2 rounded-5 mx-auto "> </div>
                    <div class="bg-primary rounded-4 text-white info_aventura d-inline-block ">
                        <p class="text-uppercase m-0 text-center ">Glamping/bogotá</p>
                        <p class="text-uppercase m-0 text-center fw-bold m ">Desde 150.000</p>
                    </div>
                </a>
            </div>

            <div class="aventura col-md-6 col-lg d-lg-flex flex-lg-column my-auto mt-lg-3 ">
                <a href="destinos.html " class="position-relative ">
                    <div class="imagen_aventura3 rounded-5 mx-auto "> </div>
                    <div class="bg-primary rounded-4 text-white info_aventura d-inline-block d-md-block ">
                        <p class="text-uppercase m-0 text-center ">bugalows/cartagena</p>
                        <p class="text-uppercase m-0 text-center fw-bold ">Desde 550.000</p>
                    </div>
                </a>
            </div>

        </div>
    </section>
    <footer class="footer text-white bg-primary py-2 ">
        <div class="container ">
            <div class="row g-md-3 g-lg-5 ">
                <div class="col-md-4 enlaces__footer d-md-block d-flex flex-column justify-content-between align-items-center ">
                    <p class="fw-bold ">Cónocenos</p>
                    <a href="# " class="nav-link fs-7 ">¿Qué es MiViaje.com?</a>
                    <a href="# " class="nav-link fs-7 ">Privacidad</a>
                    <a href="# " class="nav-link fs-7 ">Términos</a>
                    <a href="# " class="nav-link fs-7 ">Mapa del Sitio</a>
                    <a href="# " class="nav-link fs-7 ">Datos de la Empresa</a>
                </div>

                <div class="col-md-4 pt-4 mb-3 mb-md-0 d-md-block d-flex flex-column justify-content-between align-items-center ">
                    <div class="d-flex flex-md-column justify-content-md-between align-items-md-center ">
                        <img src="build/img/LogoBlanco.svg " alt="logo footer ">
                    </div>

                    <div class="d-md-flex justify-content-md-between align-items-md-center ">
                        <i class="bi bi-instagram me-2 mx-md-auto "></i>
                        <i class="bi bi-facebook me-2 mx-md-auto "></i>
                        <i class="bi bi-telegram me-2 mx-md-auto "></i>
                        <i class="bi bi-twitter me-2 mx-md-auto "></i>
                    </div>
                </div>

                <div class="col-md-4 enlaces__footer d-md-block d-flex flex-column justify-content-between align-items-center ">
                    <p class="m-0 mt-n1 fw-bold ">¿Dudas? </p>
                    <p class="m-0 mt-md-n1 fw-bold ">Encuentranos</p>
                    <a href="# " class="nav-link fs-7 ">¿Qué es  MiViaje.com?</a>
                    <a href="# " class="nav-link fs-7 ">Privacidad</a>
                    <a href="# " class="nav-link fs-7 ">Términos</a>
                    <a href="# " class="nav-link fs-7 ">Mapa del Sitio</a>
                </div>
            </div>
        </div>

        <div class="border-top mt-2 mt-md-0 ">
            <p class="text-center fs-7 ">Copyright - Miviaje.com - 2022</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa " crossorigin="anonymous "></script>
    <script src="build/js/app.js "></script>
</body>

</html>