/* ---------------------------------------------------------
/* Archivo que para traer y modificar variables de bootsrap
/* --------------------------------------------------------- */

$naranja: #E48D36;
$azul: #023F76;
$primary:$azul;
$secondary:$naranja;
//Tipografía
$headings-font-style:'Poppins',
sans-serif;
$font-family-sans-serif: 'Poppins',
sans-serif;
$font-size-root: 62.5%;
$font-size-base:2rem;
@import '../../node_modules/bootstrap/scss/bootstrap.scss';